<div class="container">
  <% @outfits.each do |week, outfits| %>
    <div>
      <% first_day_of_week = outfits.first.updated_at.to_date.beginning_of_week(:monday) %>
      <% last_day_of_week = first_day_of_week + 6.days %>
      <h3>Week <%= week %></h3>
      <p>(<%= first_day_of_week%> - <%= last_day_of_week %>)</p>
    </div>
    <div class="swiper outfits-swiper" data-controller="outfitsswiper">
      <div class="swiper-wrapper">
        <% outfits.each do |outfit| %>
          <div class="swiper-slide outfits-swiper-slide">
            <%= cl_image_tag outfit.look.photo.key %>
            <% weekday = Date::DAYNAMES[outfit.updated_at.to_datetime.cwday] %>
            <p><%= weekday %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
