<% grouped_pieces.each do |category, pieces| %>
  <div data-controller="pieces">
    <div data-pieces-target="category"
          data-action="click->pieces#toggleList"
          class='m-2 d-flex justify-content-between align-items-center'
          style='cursor:pointer;padding:10px;border-radius: 10px;background-color:white;'>
      <span class="w-100 text-overflow "
            style='font-size: 26px;'>
        <strong><%= category.name %></strong> (<%= pieces.count %>)
      </span>
      <img src='<%= category.photo_url %>'
            style='height: 100px;margin:-10px 0 -10px 0'>
    </div>

    <div data-pieces-target="list"
          class="d-none position-absolute"
          style="padding:0 20px 40px 20px;background-color:#F4F4F4;min-height:calc(100vh - 58px);top:0;right:0;left:0;">
      <span class="d-flex align-items-center justify-content-between" style='font-size: 26px;'>
        <i class="fa-solid fa-arrow-left" data-action="click->pieces#toggleList"></i>
        <strong class="text-center py-4" style="flex:1;"><%= category.name %></strong>
      </span>
      <div class="pieces-list">
        <% pieces.each do |piece| %>
          <%= render 'piece', piece: piece %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
