<div class="container">
  <div>

  </div>

  <div class="d-flex">
    <div class="statistics-card statistics-card-main">
      <p><strong>30</strong> outfits generated</p>
    </div>
    <div>
      <div class="statistics-card">
        <p><strong>30%</strong> of pieces worn</p>
      </div>
      <div class="statistics-card">
        <p><strong>5</strong> pieces never worn</p>
      </div>
    </div>
  </div>

  <div>
    <div class="worn_padding">
    <h2>Most Worn</h2>
    <div class="worn_container">
      <%= cl_image_tag Piece.first.photo.key, class: "thumbnail-rounded" %>
      <%= cl_image_tag Piece.last.photo.key, class: "thumbnail-rounded" %>
      <%= cl_image_tag Piece.last.photo.key, class: "thumbnail-rounded" %>
      <%= cl_image_tag Piece.first.photo.key, class: "thumbnail-rounded" %>
    </div>
    </div>

    <div class="row">
    <h2>Least Worn</h2>
      <%= cl_image_tag Piece.last.photo.key, class: "thumbnail-rounded" %>
      <%= cl_image_tag Piece.first.photo.key, class: "thumbnail-rounded" %>
      <%= cl_image_tag Piece.first.photo.key, class: "thumbnail-rounded" %>
      <%= cl_image_tag Piece.last.photo.key, class: "thumbnail-rounded" %>
    </div>
  </div>

</div>
